form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px;  */
  width: 100%;
}

label {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
  font-weight: bold;
}

small {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.formInput {
  margin-bottom: 20px;
  width: 100%;

}

.error {
  color: red;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px auto;
  padding: 16px;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-photo img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin: 8px auto;

}

.comment-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-section h3 {
  margin-bottom: 15px;
  color: #333;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.comment-item {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-form {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-direction: row;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.comment-input:focus {
  outline: none;
  border-color: #007bff;
}

.submit-button {
  padding: 10px 15px;
  background-color: var(--primary-orange);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color:var(--secondary-orange);
}


.review-content {
  max-width: 700px;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.top {
  display: flex;
  flex-direction: row;
}

.username {
  margin-left: 15px;
  font-weight: bold;
  font-size: 18px;
}

h2,
h3,
label,
p,
li {
  color: black;
}

small {
  color: grey
}

.other-details{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top: 4px;
}
.other-details p{
  margin-right:15px;
}