form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 20px;  */
  width: 100%;
}

label {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
  font-weight: bold;
}

small {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.formInput {
  margin-bottom: 20px;
  width: 100%;

}

.error {
  color: red;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-card {

  margin: 16px auto;
  padding: 16px;
  max-width: 800px;
  background-color: #fff;

  border-radius: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review-photo img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin: 8px auto;

}

.comment-section {
  background-color: #f9f9f9;

  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;

  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment-section h3 {
  margin-bottom: 15px;
  color: #333;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.comments-list li {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;

  text-align: left;
}

.comment-form {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-direction: row;
}

.comment-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.comment-input:focus {
  outline: none;
  border-color: #007bff;
}

.submit-button {
  padding: 10px 15px;
  background-color: var(--primary-orange);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color:var(--secondary-orange);
}


.review-content {
  max-width: 700px;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.review-card .top {
  cursor: pointer;

  display: flex;
  flex-direction: row;

  width: 40%;
  margin-right: 20px;

  border-radius: 12px;

  transition: all 0.3s ease;
}
.review-card .top:hover {
  transform: scale(1.05);

  border: 1px solid black;
}

.username {
  font-weight: bold;
  font-size: 18px;

  text-align: left;

  margin: 12px;
}

h2,
h3,
label,
p,
li {
  color: black;
}

small {
  color: grey
}

.other-details {
  display: flex;
  flex-wrap: wrap;

  gap: 15px;
  margin-top: 8px;
}
.other-details p {
  margin: 0;

  font-size: 0.9em;
  color: #707070;
}

.other-details .review p {
  text-align: left;
}

/* reviews */
.stars-container {
  display: flex;
  gap: 5px;
}

.stars-container .star {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border-radius: 50px;

  background-color: var(--primary-gray);
}
.star.filled {

  background-color: var(--primary-orange);
}
.star img {
  max-width: 15px;
  max-height: 15px;
}
