.weather {
    width: 500px;
    margin: 20px;
    padding: 20px;
    background: var(--primary-white);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );

    border-radius: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-right:10px;
    padding-left:10px;

}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left:10px;

   
}
.city {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    color:black;
}

.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    color:black;
}

.temp {
    font-weight: 550;
    font-size: 60px;
    font-family: 'Inter';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    letter-spacing:-5px;
    color: black;
}

.feelsLike{
    color:black;
    font-weight: 500;
    font-size:15px;
    line-height: 1;
    margin:0;
}
.tdetails{
    display:flex;
    flex-direction: column;
    justify-content: baseline;
}
.weather-icon{
    width: 30%;
}
.timings{
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height: 1;
    margin: 0 20px;
    align-items: flex-start;
}
.mainPresentation{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.sunrise{
    width: 25px;
    line-height: 1;
    margin: 0;
}
.sunset{
    width: 25px;
    line-height: 1;
    margin: 0;
}
.timingsText{
    color:black;
    line-height: 1;
    margin: 0 5px;
}
.up{
    display:flex;
    flex: row;
    align-items:flex-end;
    margin: 0 0 5px;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 5px;
    
}

.parameter-row{
  
    display:flex;
    justify-content:stretch;
    border: 2px solid  rgb(241, 176, 124);
    padding:7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(241, 176, 124);
}

.parameter-label{
    text-align: left;
    font-weight:500;
    font-size:14px;
    font-weight: 600;
    color: black;
    line-height: 1;

}

.parameter-value{
    text-align: right;
    font-weight:500;
    font-size:14px;
    color: black;
    margin-left:5px;
    font-weight: 600;
    line-height: 1;
}

.tempGroup{
    display:flex;
    flex-direction: column;
    margin:2px;
    margin-bottom: 10px;
}